src/helpers/*
all_sales_incl_ing.xlsm
venv/*
combined_data.xlsx
src/run_cod
src/backorders/*
src/**/*.log
combined_sales_report_procedure.sql
src/create_views/*
src/logs_and_tests/*
airflow/airflow_env_linux
airflow/airflow.cfg
airflow/airflow.db
airflow/*.ch
airflow/logs/*
